body {
  background-color: #ddd;
}
<<<<<<< HEAD
=======
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #05a8ef;
  border-radius: 0.6em;
  color: #0794f2;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
  margin: 7px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 10px 10px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
>>>>>>> 3b73b1da5287df718e71a764852e9d148f540bd8
h1 {
  font-family: 'Pacifico';

  color: rgba(31, 30, 32, 0.795);
  animation: neon 5s infinite;
}
@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: rgb(227, 199, 41) 0 0 12px, rgb(101, 135, 22) 0 0 21px, rgb(64, 187, 212) 0 0 21px;
  }
  40%,
  60% {
    text-shadow: none;
  }
}
.jumbotron {
  padding-top: 6rem;
  background-image: url(bg.jpg);
  background-size: cover;
}

footer {
  background-color: #242f3b;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 5px;
}
section {
  padding-top: 5rem;
}

#projects {
  background-color: #242f3b;
}
